footer {
  background: #001d0c;
  padding: 80px 0px;

  .content-footer {
    .main-content-footer {
      display: flex;
      justify-content: space-between;
      gap: 32px;
      border-bottom: 1px solid #6f877c;
      padding-bottom: 24px;

      .logo-footer {
        width: 298px;
      }

      .links-footer {
        display: flex;
        gap: 32px;

        .box-link {
          display: flex;
          flex-direction: column;
          max-width: 250px;
          min-width: 188px;

          .div-social-media {
            display: flex;
            align-items: center;
            gap: 8px;

            a {
              margin: 0 !important;
            }
          }

          span {
            margin: 0;
            padding: 0;

            margin-bottom: 16px;
            color: #3ddd33;
            font-family: Arimo;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 124%;
          }

          a:last-child {
            margin-bottom: 0;
          }

          a {
            text-decoration: none;
            margin-bottom: 8px;
            color: #fcfcfc;
            font-family: Arimo;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 124%;
          }
        }
      }
    }

    .last-content-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      padding-top: 16px;

      a.back-to-top {
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        color: #fcfcfc;
        font-family: Arimo;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 124%;
      }

      p {
        margin: 0;
        padding: 0;

        color: #fcfcfc;
        font-family: Arimo;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 124%;
      }
    }
  }
}
