footer {
  background-color: #f7f7f7;
  padding-top: 144px;
  margin-top: -60px;

  .content-footer {
    .mailing {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 24px;
      padding-bottom: 16px;

      .content-mailing {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 628px;

        .labels-mailing {
          display: flex;
          flex-direction: column;
          gap: 8px;
          h4 {
            margin: 0;
            padding: 0;

            color: #ea7425;
            font-family: "Poppins";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 124%;
          }

          p {
            color: #3b3b3b;
            font-family: "Poppins";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 124%;
          }
        }

        .send-mailing {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          border-radius: 500px;
          border: 1px solid var(----colors-support-grey-500, #b8b8b8);
          background: var(--surface-bg-light, #fcfcfc);
          padding: 8px;
          gap: 16px;
          transition: 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            transition: 0.3s ease-in-out;
            border: 1px solid #d96f09;
          }

          img {
            filter: grayscale(1);
            transition: 0.3s ease-in-out;
          }

          &:hover {
            transition: 0.3s ease-in-out;
            border: 1px solid #d96f09;

            input::placeholder {
              color: #d96f09;
              transition: 0.3s ease-in-out;
            }

            img {
              filter: unset;
              transition: 0.3s ease-in-out;
            }
          }

          input {
            all: initial;
            width: 100%;
            transition: 0.3s ease-in-out;

            &::placeholder {
              color: #6e6e6e;
              font-family: "Arimo";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }

    .navigation-footer {
      padding-top: 40px;
      border-top: 1px solid #ebebeb;

      .navigation-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 32px;
        padding-bottom: 24px;

        .navigation-item {
          display: flex;
          flex-direction: column;

          h4 {
            margin: 0;
            padding: 0;
            opacity: 0.5;
            margin-bottom: 24px;
            color: #6e6e6e;
            font-family: "Poppins";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 124%;
          }

          .navigation-links {
            display: flex;
            flex-direction: column;
            gap: 16px;

            a {
              margin: 0 !important;
              padding: 0 !important;
              text-decoration: none;
              color: #3b3b3b;
              font-family: "Poppins";
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 124%;
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}

.container-infos-footer {
  background: var(--surface-bg-lightest, #f2f2f2);
  padding-top: 24px;
  padding-bottom: 40px;
}

.infos-footer {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  .infos {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 738px;

    h4 {
      margin: 0;
      padding: 0;
      opacity: 0.5;
      color: #3b3b3b;
      font-family: "Poppins";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 124%;
    }

    .content-infos {
      display: flex;
      gap: 16px;

      a {
        text-decoration: none;
        margin: 0 !important;
        padding: 0 !important;
        color: #3b3b3b;
        font-family: "Poppins";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 124%;
      }

      p {
        margin: 0 !important;
        padding: 0 !important;
        color: #3b3b3b;
        font-family: "Poppins";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 124%;
      }

      .link-underline {
        text-decoration: underline;
      }

      .tel {
        display: flex;
        width: 225px;
        gap: 16px;
        flex-direction: column;
        border-right: 1px solid var(----colors-support-grey-300, #ebebeb);
      }

      .end {
        width: 551px;
      }
    }
  }

  .links {
    display: flex;
    g h4 {
      margin: 0;
      padding: 0;
      opacity: 0.5;
      color: #3b3b3b;
      font-family: "Poppins";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 124%;
    }

    .selo-mercado {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 298px;

      h4 {
        margin: 0;
        padding: 0;
        opacity: 0.5;
        color: #3b3b3b;
        font-family: "Poppins";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 124%;
      }

      .imgs-selo {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }

    .links-main {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-left: 16px;
      border-left: 1px solid #ebebeb;

      h4 {
        margin: 0;
        padding: 0;
        opacity: 0.5;
        color: #3b3b3b;
        font-family: "Poppins";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 124%;
      }

      .links-content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        a {
          color: #3b3b3b;
          font-family: "Poppins";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 124%;
        }
      }
    }
  }
}

.last-content-footer {
  padding: 12px 0px;
  background: #f0f0f0;

  .content-last {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;

    p {
      margin: 0;
      padding: 0;

      color: #3b3b3b;
      font-family: "Poppins";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 124%;
    }

    .logo-prisma {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .voltar-topo {
      opacity: 0.8;
      transition: all 0.4s ease;

      &:hover {
        opacity: 1;
        transition: all 0.4s ease;
      }

      a {
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 0 !important;
        padding: 0 !important;
        text-decoration: none;
        color: #6e6e6e;
        font-family: "Arimo";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
      }
    }
  }
}
