.container {
  @media (min-width: 992px) {
    max-width: 991px;
  }
  @media (min-width: 1200px) {
    max-width: 1050px;
  }

  @media (max-width: 575px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container-full {
  margin: 0 auto;

  @media (min-width: 1260px) {
    max-width: 1130px !important;
  }

  @media (min-width: 1360px) {
    max-width: 1280px !important;
  }

  @media (min-width: 1660px) {
    max-width: 1288px !important;
  }
}

.btn-primary-imc {
  text-decoration: none;
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: #eb923b;
  color: #f7f7f7;

  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  &:hover {
    background: #d96f09;
    color: #e0e0e0;
  }
}

.btn-secondary-imc {
  display: flex;
  position: relative;
  padding: 16px 24px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #6e6e6e;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  text-decoration: none;
  color: #6e6e6e;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;

  &:hover {
    color: #6e6e6e;
    border: 1px solid #3b3b3b;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}
